In [7]:
import pandas as pd

In [9]:
df = pd.DataFrame({"Name": ['Rithi', 'Mom', 'Ajay'],
             "Age": [15, 48, 21]})
df.to_csv('Sample.csv')

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Sample').getOrCreate()

In [4]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x7f0d45dd9a60>

In [5]:
spark

In [14]:
df_pyspark = spark.read.option('header', 'true').csv('Sample.csv',inferSchema=True)

In [15]:
# Check the schema
df_pyspark.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [16]:
df_pyspark=spark.read.csv('Sample.csv', header=True,inferSchema=True)
df_pyspark.show()

+---+-----+---+
|_c0| Name|Age|
+---+-----+---+
|  0|Rithi| 15|
|  1|  Mom| 48|
|  2| Ajay| 21|
+---+-----+---+

In [17]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [19]:
df_pyspark.head(3)

[Row(_c0=0, Name='Rithi', Age=15),
 Row(_c0=1, Name='Mom', Age=48),
 Row(_c0=2, Name='Ajay', Age=21)]

In [20]:
df_pyspark.show()

+---+-----+---+
|_c0| Name|Age|
+---+-----+---+
|  0|Rithi| 15|
|  1|  Mom| 48|
|  2| Ajay| 21|
+---+-----+---+

In [22]:
df_pyspark.select('Name').show()

+-----+
| Name|
+-----+
|Rithi|
|  Mom|
| Ajay|
+-----+

In [23]:
df_pyspark.select(['Name', 'Age']).show()

+-----+---+
| Name|Age|
+-----+---+
|Rithi| 15|
|  Mom| 48|
| Ajay| 21|
+-----+---+

In [24]:
# Check Data Types
df_pyspark.dtypes

[('_c0', 'int'), ('Name', 'string'), ('Age', 'int')]

In [25]:
df_pyspark.describe()

DataFrame[summary: string, _c0: string, Name: string, Age: string]

In [26]:
df_pyspark.describe().show()

+-------+---+-----+------------------+
|summary|_c0| Name|               Age|
+-------+---+-----+------------------+
|  count|  3|    3|                 3|
|   mean|1.0| null|              28.0|
| stddev|1.0| null|17.578395831246947|
|    min|  0| Ajay|                15|
|    max|  2|Rithi|                48|
+-------+---+-----+------------------+

In [27]:
### Adding columns in data frame
df_pyspark.withColumn('Experience', df_pyspark['Age']+2).show()

+---+-----+---+----------+
|_c0| Name|Age|Experience|
+---+-----+---+----------+
|  0|Rithi| 15|        17|
|  1|  Mom| 48|        50|
|  2| Ajay| 21|        23|
+---+-----+---+----------+

In [29]:
### Drop Columns in data frame
df_pyspark=df_pyspark.drop('Experience')

In [30]:
df_pyspark.show()

+---+-----+---+
|_c0| Name|Age|
+---+-----+---+
|  0|Rithi| 15|
|  1|  Mom| 48|
|  2| Ajay| 21|
+---+-----+---+

In [33]:
### Rename Column
df_pyspark=df_pyspark.withColumnRenamed('Name', 'New Name')

In [34]:
df_pyspark.show()

+---+--------+---+
|_c0|New Name|Age|
+---+--------+---+
|  0|   Rithi| 15|
|  1|     Mom| 48|
|  2|    Ajay| 21|
+---+--------+---+

Handling Missing Values